body {
    display: flex;
}

aside {
    width: 350px;
    height: 60vh;
    margin: 50px;
    border: 3px solid black;
    border-radius: 20px;
}

ul {
    list-style: none;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    margin: 0;
    padding: 30px;
}

li {
    margin-bottom: 5px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    cursor: pointer;
}

li:hover {
    transform: translateX(5px);
    height: 68px;
    border-bottom: 2px solid black;
}

main {
    height: 90vh;
    padding: 50px;
}

table {
    border-spacing: 0;
}

td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    cursor: pointer;
}

td:hover {
    background-color: lightgreen;
}